<!DOCTYPE html>
<html lang="ko">

<head>
    <script src="http://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>about</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

</head>

<body>

    <body style="padding-left:30px">
        <div class="container" style='width:1000px; background:rgb(236, 182, 137)'>
            <h1 style="padding-left:130px">단어 수 세기</h1>
            <div class="container" style='width:80px; background:rgb(137, 236, 162)'>
                <a href="{% url 'about' %}">ABOUT</a>
            </div>

            <form action="{%url 'result'%}">
                <textarea style="padding-left:30px; padding-right:30px" cols="60" rows="5" name="fulltext"></textarea>
                <br>
                <input type="submit" value="세어보자!">
            </form>
        </div>
    </body>


</body>

</html>